body {
    padding-bottom: 0;
}

.navbar {

}

.navbar-wrapper .navbar {
    margin-left: 125px;
}

.navbar-wrapper .container {
    position: relative;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    width: 100%;
}

.navbar-logo {
    position: absolute;
    top: -15px;
}

.isis-logo,
.isis-logo:link,
.isis-logo:visited {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: .6;
}

.isis-logo:hover {
    opacity: 1;
}

.isis-logo img {
    width: 40px;
}

footer {
    background-color: #333;
    padding: 10px;
    min-height: 100px;
    color: #eee;
}

.marketing .col-lg-4 {
    text-align: left;
}

.marketing .col-lg-4 p {
    margin: 0;
}

ul.nav.navbar-nav {
    width: 100%;
}

#login-link {
    float: right;
}

#login-link button {
    margin-top: 9px;
}

.carousel-caption {
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,.9);
}