nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
          img(class="img-responsive", src="/images/full_logo.png", alt="NetsBlox")
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a#editor(href=env.EDITOR_ADDRESS, target="_blank") 
            i.fa.fa-play  Try Now
        li
          a(href='/quickstart')
            i.fa.fa-fast-forward  QuickStart
        li
          a(href='/help') 
            i.fa.fa-book  Help
          
        li
          a(href='http://community.netsblox.org') 
            i.fa.fa-comments  Community
          
      ul.nav.navbar-nav.navbar-right
        li
          a(href='', title="login", id="login" data-toggle='modal', data-target='#login-modal', onClick="document.querySelector('form input').focus();")
            i.fa.fa-sign-in
        li
          a(href='', id="logout", class="hidden", title="logout")
            i.fa.fa-sign-out
      <p class="hidden navbar-text navbar-right">Signed in as <b>foo</b></p>
