extends includes/layout.pug
block title
    title Help - NetsBlox
block content
  mixin box(title, url, buttonCaption)
    .col-md-4.col-sm-6.text-center
      .box
        h2.tag-title= title
        block          
        br
        a.btn.btn-block.btn-primary(href=url)= buttonCaption
  .container
    .row
      h2.text-center Learn more about NetsBlox
      .row
        +box("How To's",'/howtos','More')
          p Guides and tutorials to help you understand and use NetsBlox.
          .text-left
            ul
              li
                a(href='/howtos/#rooms') Rooms
              li
                a(href='/howtos/#messages') Messages
              li 
                a(href='/howtos/#services') Services (RPCs)
              li
                a(href='/howtos/#manage-room') Managing rooms
              li
                a(href='/howtos/#send-messages') Sending and receiving messages
              li 
                a(href='/howtos/#use-services') Using Services (RPCs)
        +box('QuickStart','/quickstart','Read More')
          p Get started with playing multiplayer games on NetsBlox in no time.
          
        +box('Demos','/tutorials','View')
          p Check out walkthroughs and featured demos of Netsblox here.
          ul.text-left
            li 
              a(href="https://youtu.be/-qS7hGowQKQ") Prime Factorization
            li 
              a(href="https://youtu.be/NRIUUiJMCmI") Running Dog Demo
            li 
              a(href="https://youtu.be/YXKUtTbbVWI") NetsBlox Demo
        +box('White Paper', 'NetsBloxWhitePaper.pdf','View')
          p Computational thinking (CT) has been described as a general analytic approach to problem solving, designing systems, and understanding human behaviors. The integration of CT within the K12 curriculum has also been argued for by the ACM committee on K12 education, and has become a focus of several researchers on educational computing. This paper provides a detailed introduction to NetsBlox and its relation to computational thinking and distributed programming.
        +box('Snap! Manual', 'https://snap.berkeley.edu/SnapManual.pdf','View')
          p In this manual we sometimes make reference to Scratch, e.g., to explain how some Snap! feature extends something familiar in Scratch. It’s very helpful to have some experience with Scratch before reading this manual, but not essential..
        +box('Flyer','NetsBloxFlyer.pdf','View')
          p NetsBlox is an open-source web and cloud-based visual programming environment. Its visual notation is based on Scratch from MIT and uses the open source JavaScript code base of Snap! from Berkeley. Both of these are extremely successful tools in K12 computer science education. NetsBlox adds the capability of networking and enables distributed programming at a level accessible to young learners.
